[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProliferativeIndex"]
	path = ProliferativeIndex
	url = https://github.com/blasseigne/proliferativeindex
